header {
  background: transparent;
  min-height: 4rem;
}

.ham-menu {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav a.active {
  color: var(--primary);
  border-bottom: 2px var(--primary) solid;
}

.searchbar {
  width: 50vw;
}

@media (max-width: 768px) {
  .searchbar {
    order: 4;
    width: 100%;
    margin-top: 1rem;
  }

  .ham-menu {
    display: initial;
  }
}
