:root {
  --primary: #9ee973;
  --font-color: #413f42;
}

.app {
  color: var(--font);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.pointer {
  cursor: pointer;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.minheight {
  height: calc(100vh - 4rem);
}

.hide-overflow-y {
  overflow-y: hidden;
}
